spring-data-cassandra/src/main/resources/org/springframework/data/cql/config/spring-cql-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.springframework.org/schema/cql"
			xmlns:tool="http://www.springframework.org/schema/tool"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.springframework.org/schema/cql"
			elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xsd:import namespace="http://www.springframework.org/schema/tool"
				schemaLocation="http://www.springframework.org/schema/tool/spring-tool.xsd"/>

	<xsd:annotation>
		<xsd:documentation><![CDATA[
Defines the configuration elements for Spring Cassandra support.
		]]></xsd:documentation>
	</xsd:annotation>

	<xsd:element name="cluster" type="clusterType">
		<xsd:annotation>
			<xsd:documentation
				source="org.springframework.cassandra.config.xml.CassandraClusterFactoryBean"><![CDATA[
Defines a Cassandra cluster.
			]]></xsd:documentation>
			<xsd:appinfo>
				<tool:annotation>
					<tool:exports type="com.datastax.driver.core.Cluster" />
				</tool:annotation>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>

	<xsd:element name="session" type="sessionType">
		<xsd:annotation>
			<xsd:documentation
					source="org.springframework.cassandra.config.xml.CassandraSessionFactoryBean"><![CDATA[
Defines a Cassandra session.
			]]></xsd:documentation>
			<xsd:appinfo>
				<tool:annotation>
					<tool:exports type="com.datastax.driver.core.Session"/>
				</tool:annotation>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>

	<xsd:element name="template" type="templateType">
		<xsd:annotation>
			<xsd:documentation
					source="org.springframework.cassandra.config.xml.CassandraTemplateFactoryBean"><![CDATA[
Defines a CqlTemplate.
			]]></xsd:documentation>
			<xsd:appinfo>
				<tool:annotation>
					<tool:exports type="org.springframework.cassandra.CqlTemplate"/>
				</tool:annotation>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>

	<xsd:simpleType name="clusterRef" final="union">
		<xsd:annotation>
			<xsd:appinfo>
				<tool:annotation kind="ref">
					<tool:assignable-to type="com.datastax.driver.core.Cluster"/>
				</tool:annotation>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:union memberTypes="xsd:string" />
	</xsd:simpleType>

	<xsd:complexType name="clusterType">
		<xsd:sequence>
			<xsd:element name="local-pooling-options" type="poolingOptionsType"
						 maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation><![CDATA[
Local pooling options.
					]]></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="remote-pooling-options" type="poolingOptionsType"
						 minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation><![CDATA[
Remote pooling options.
					]]></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="socket-options" type="socketOptionsType"
						 maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation><![CDATA[
Socket options.
					]]></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="keyspace" type="keyspaceType"
						 minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation><![CDATA[
Provides the ability to define a keyspace.
					]]></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="startup-cql" type="xsd:string"
						 minOccurs="0" maxOccurs="unbounded">
				<!-- TODO: cql could come from a resource via a resource attribute... -->
				<xsd:annotation>
					<xsd:documentation><![CDATA[
Arbitrary CQL script to be executed against the system keyspace during bean initialization.  Multiple elements will be executed in document order.
					]]></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="shutdown-cql" type="xsd:string"
						 minOccurs="0" maxOccurs="unbounded">
				<!-- TODO: cql could come from a resource via a resource attribute... -->
				<xsd:annotation>
					<xsd:documentation><![CDATA[
Arbitrary CQL script to be executed against the system keyspace during bean destruction.  Multiple elements will be executed in document order.
					]]></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:ID" use="optional">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
The name of the Cassandra Cluster definition; default is "cassandra-cluster".
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="contact-points" type="xsd:string"
					   use="optional" default="localhost">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
The comma separated list of Cassandra servers.  Default is "localhost".
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="port" type="xsd:string" use="optional"
					   default="9042">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
The native CQL port to connect to.  Default is 9042.
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="compression" default="NONE" use="optional"
					   type="xsd:string">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
The protocol compression option. Default is "NONE".
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="username" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
When Authentication is enabled, the username to use when connecting to the Cluster.
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="password" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
When Authentication is enabled, the password to use when connecting to the Cluster.
				]]>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="metrics-enabled" type="xsd:string"
					   default="true">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
Determine whether or not to collect metrics.  Defaults to true.
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="jmx-reporting-enabled" type="xsd:string"
					   default="true">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
Determine whether or not to enable JMX Reporting.  Defaults to true.
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="deferred-initialization" type="xsd:string"
					   default="false">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
Determine if we defer initalizing the cluster until a connection is requested. Defaults to false.
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="ssl-enabled" type="xsd:string"
					   default="false">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
Determine if SSL is used for Cassandra communication. Defaults to false.
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="auth-info-provider-ref" use="optional">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
AuthInfoProvider implementation.
				]]></xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:annotation>
					<xsd:appinfo>
						<tool:annotation kind="ref">
							<tool:assignable-to type="com.datastax.driver.core.AuthInfoProvider"/>
						</tool:annotation>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:union memberTypes="xsd:string"/>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="load-balancing-policy-ref" use="optional">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
LoadBalancingPolicy implementation.
				]]></xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:annotation>
					<xsd:appinfo>
						<tool:annotation kind="ref">
							<tool:assignable-to
									type="com.datastax.driver.core.policies.LoadBalancingPolicy"/>
						</tool:annotation>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:union memberTypes="xsd:string"/>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="reconnection-policy-ref" use="optional">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
ReconnectionPolicy implementation.
				]]></xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:annotation>
					<xsd:appinfo>
						<tool:annotation kind="ref">
							<tool:assignable-to
									type="com.datastax.driver.core.policies.ReconnectionPolicy"/>
						</tool:annotation>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:union memberTypes="xsd:string"/>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="retry-policy-ref" use="optional">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
RetryPolicy implementation.
				]]></xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:annotation>
					<xsd:appinfo>
						<tool:annotation kind="ref">
							<tool:assignable-to
									type="com.datastax.driver.core.policies.RetryPolicy"/>
						</tool:annotation>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:union memberTypes="xsd:string"/>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="ssl-options-ref" use="optional">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
Custom SSL Options. sslEnabled must be true for sslOptions to be used.
				]]></xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:annotation>
					<xsd:appinfo>
						<tool:annotation kind="ref">
							<tool:assignable-to type="com.datastax.driver.core.SSLOptions"/>
						</tool:annotation>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:union memberTypes="xsd:string"/>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="host-state-listener-ref" use="optional">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
Custom Host State Listener for the Cassandra Cluster.
				]]></xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:annotation>
					<xsd:appinfo>
						<tool:annotation kind="ref">
							<tool:assignable-to type="com.datastax.driver.core.Host.StateListener"/>
						</tool:annotation>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:union memberTypes="xsd:string"/>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="latency-tracker-ref" use="optional">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
Custom Latency Tracker for the Cassandra Cluster.
				]]></xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:annotation>
					<xsd:appinfo>
						<tool:annotation kind="ref">
							<tool:assignable-to type="com.datastax.driver.core.LatencyTracker"/>
						</tool:annotation>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:union memberTypes="xsd:string"/>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:simpleType name="sessionRef" final="union">
		<xsd:annotation>
			<xsd:appinfo>
				<tool:annotation kind="ref">
					<tool:assignable-to type="com.datastax.driver.core.Session"/>
				</tool:annotation>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:union memberTypes="xsd:string"/>
	</xsd:simpleType>

	<xsd:complexType name="poolingOptionsType">
		<xsd:attribute name="min-simultaneous-requests" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
If the utilisation of opened connections drops below by this configured threshold, then cassandra drops connections till core-connections.
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="max-simultaneous-requests" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
If the utilisation of connections reaches this configurable threshold, then cassandra creates more connections up to max-connections.
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="core-connections" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
For each host, the driver keeps a core amount of connections open at all time.
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="max-connections" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
More connections are created up to a configurable maximum number of connections.
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="socketOptionsType">
		<xsd:attribute name="connect-timeout-millis" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
Sets connection timeout for client socket in milliseconds.
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="keep-alive" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
Sets the SO_KEEPALIVE socket option.
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="read-timeout-millis" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
Sets read timeout for client socket in milliseconds.
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="reuse-address" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
Sets the SO_REUSEADDR socket option.
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="so-linger" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
Sets the SO_LINGER socket option.
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="tcp-no-delay" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
Sets the SO_TCPNODELAY socket option.
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="receive-buffer-size" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
Sets the SO_RCVBUF socket option.
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="send-buffer-size" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
Sets the SO_SNDBUF socket option.
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="sessionType">
		<xsd:sequence>
			<xsd:element name="startup-cql" type="xsd:string"
						 minOccurs="0" maxOccurs="unbounded">
				<!-- TODO: cql could come from a resource via a resource attribute... -->
				<xsd:annotation>
					<xsd:documentation><![CDATA[
Arbitrary CQL script to be executed against the session's keyspace during bean initialization.  Multiple elements will be executed in document order.
					]]></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="shutdown-cql" type="xsd:string"
						 minOccurs="0" maxOccurs="unbounded">
				<!-- TODO: cql could come from a resource via a resource attribute... -->
				<xsd:annotation>
					<xsd:documentation><![CDATA[
Arbitrary CQL script to be executed against the session's keyspace during bean destruction.  Multiple elements will be executed in document order.
					]]></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>

		<xsd:attribute name="id" type="xsd:ID" use="optional">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
The name of the session definition; default is "cassandraSession".
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="cluster-ref" type="clusterRef" use="optional">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
The reference to a Cassandra cluster; default is "cassandraCluster".
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="keyspace-name" type="xsd:string"
					   use="required">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
The name of a Cassandra Keyspace.  No default; for the system keyspace, use the empty string.
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="templateType">
		<xsd:attribute name="id" type="xsd:ID" use="optional">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
The name of the template; default is "cqlTemplate".
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="session-ref" type="sessionRef" use="optional">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
The reference to a Cassandra session; default is "cassandraSession".
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="keyspaceType">
		<xsd:annotation>
			<xsd:documentation><![CDATA[
Provides the ability to define keyspaces.
					]]></xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="replication" type="replicationType"
						 minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation><![CDATA[
Provides the ability to configure the keyspace's replication settings.
					]]></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
The name of this keyspace.  Required.
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="action" use="required" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
The keyspace action to take at startup and possibly shutdown.
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="durable-writes" type="xsd:string"
					   use="optional" default="false">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
Whether or not the keyspace supports durable writes.
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="replicationType">
		<xsd:annotation>
			<xsd:documentation><![CDATA[
Provides the ability to configure the keyspace's replication settings.
					]]></xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="data-center" type="datacenterType"
						 minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation><![CDATA[
Provides the ability to specify replication factors by data center.
					]]></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="class" type="xsd:string" use="optional"
					   default="SIMPLE_STRATEGY">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
The name of the replication class; default is "SIMPLE_STRATEGY".
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="replication-factor" type="xsd:string"
					   use="optional" default="1">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
The replication factor; default is 1.
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="datacenterType">
		<xsd:annotation>
			<xsd:documentation><![CDATA[
Provides the ability to specify replication factors by data center.
					]]></xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="name" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
The name of the data center.
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="replication-factor" type="xsd:string"
					   use="required">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
The replication factor for the data center.
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
</xsd:schema>