spring-cassandra/src/main/resources/org/springframework/cassandra/config/spring-cassandra-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns="http://www.springframework.org/schema/cassandra"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tool="http://www.springframework.org/schema/tool"
	targetNamespace="http://www.springframework.org/schema/cassandra"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xsd:import namespace="http://www.springframework.org/schema/tool"
		schemaLocation="http://www.springframework.org/schema/tool/spring-tool.xsd" />

	<xsd:annotation>
		<xsd:documentation><![CDATA[
Defines the configuration elements for Spring Cassandra support.
		]]></xsd:documentation>
	</xsd:annotation>

	<xsd:element name="session" type="sessionType">
		<xsd:annotation>
			<xsd:documentation
				source="org.springframework.cassandra.config.xml.SessionFactoryBean"><![CDATA[
Defines a Cassandra Session.
			]]></xsd:documentation>
			<xsd:appinfo>
				<tool:annotation>
					<tool:exports type="com.datastax.driver.core.Session" />
				</tool:annotation>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>

	<xsd:element name="template" type="templateType">
		<xsd:annotation>
			<xsd:documentation
				source="org.springframework.cassandra.config.xml.TemplateFactoryBean"><![CDATA[
Defines a Cassandra Templat.
			]]></xsd:documentation>
			<xsd:appinfo>
				<tool:annotation>
					<tool:exports type="org.springframework.cassandra.CassandraTemplate" />
				</tool:annotation>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>

	<xsd:element name="cluster" type="clusterType">
		<xsd:annotation>
			<xsd:documentation
				source="org.springframework.cassandra.config.xml.CassandraClusterFactoryBean"><![CDATA[
Defines a Cassandra Cluster.
			]]></xsd:documentation>
			<xsd:appinfo>
				<tool:annotation>
					<tool:exports type="com.datastax.driver.core.Cluster" />
				</tool:annotation>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>

	<xsd:element name="keyspace" type="keyspaceType">
		<xsd:annotation>
			<xsd:documentation
				source="org.springframework.data.cassandra.core.CassandraKeyspaceFactoryBean"><![CDATA[
Defines a Cassandra Session instance used for accessing Cassandra Keyspace'.
			]]></xsd:documentation>
			<xsd:appinfo>
				<tool:annotation>
					<tool:exports type="com.datastax.driver.core.Session" />
				</tool:annotation>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:complexType name="clusterType">
		<xsd:sequence>
			<xsd:element name="local-pooling-options" type="poolingOptionsType"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="remote-pooling-options" type="poolingOptionsType"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="socket-options" type="socketOptionsType"
				maxOccurs="1" minOccurs="0"></xsd:element>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:ID" use="optional">
			<xsd:annotation>
				<xsd:documentation>
					The name of the Cassandra Cluster definition (by
					default "cassandra-cluster")
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="contactPoints" type="xsd:string"
			use="optional" default="localhost">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
The comma separated list of Cassandra servers.  Default is localhost.
							]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="port" type="xsd:string" use="optional"
			default="9042">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
The native CQL port to connect to.  Default is 9042.
							]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="compression" default="NONE" use="optional">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
The protocol compression option. Default is 'none'.
							]]></xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="NONE">
						<xsd:annotation>
							<xsd:documentation><![CDATA[
No compression.
							]]></xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="SNAPPY">
						<xsd:annotation>
							<xsd:documentation><![CDATA[
Uses SNAPPY compression algorithm.
							]]></xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="auth-info-provider" use="optional">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
AuthInfoProvider implementation.
							]]></xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:annotation>
					<xsd:appinfo>
						<tool:annotation kind="ref">
							<tool:assignable-to type="com.datastax.driver.core.AuthInfoProvider" />
						</tool:annotation>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:union memberTypes="xsd:string" />
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="load-balancing-policy" use="optional">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
LoadBalancingPolicy implementation.
							]]></xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:annotation>
					<xsd:appinfo>
						<tool:annotation kind="ref">
							<tool:assignable-to
								type="com.datastax.driver.core.policies.LoadBalancingPolicy" />
						</tool:annotation>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:union memberTypes="xsd:string" />
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="reconnection-policy" use="optional">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
ReconnectionPolicy implementation.
							]]></xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:annotation>
					<xsd:appinfo>
						<tool:annotation kind="ref">
							<tool:assignable-to
								type="com.datastax.driver.core.policies.ReconnectionPolicy" />
						</tool:annotation>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:union memberTypes="xsd:string" />
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="retry-policy" use="optional">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
RetryPolicy implementation.
							]]></xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:annotation>
					<xsd:appinfo>
						<tool:annotation kind="ref">
							<tool:assignable-to
								type="com.datastax.driver.core.policies.RetryPolicy" />
						</tool:annotation>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:union memberTypes="xsd:string" />
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="keyspaceType">
		<xsd:sequence>
			<xsd:element name="keyspace-attributes" type="keyspaceAttributesType"
				maxOccurs="1" minOccurs="0"></xsd:element>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:ID" use="optional">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
					The name of the Keyspace definition (by default
					"cassandra-keyspace")
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="name" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
The name of the Cassandra keyspace.
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:simpleType name="clusterRef" final="union">
		<xsd:annotation>
			<xsd:appinfo>
				<tool:annotation kind="ref">
					<tool:assignable-to type="com.datastax.driver.core.Cluster" />
				</tool:annotation>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:union memberTypes="xsd:string" />
	</xsd:simpleType>

	<xsd:simpleType name="sessionRef" final="union">
		<xsd:annotation>
			<xsd:appinfo>
				<tool:annotation kind="ref">
					<tool:assignable-to type="com.datastax.driver.core.Session" />
				</tool:annotation>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:union memberTypes="xsd:string" />
	</xsd:simpleType>

	<xsd:complexType name="poolingOptionsType">
		<xsd:attribute name="min-simultaneous-requests" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
if the utilisation of opened connections drops below by this configured threshold, then cassandra drops connections till core-connections.
							]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="max-simultaneous-requests" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
If the utilisation of connections reaches this configurable threshold, then cassandra creates more connections up to max-connections.
							]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="core-connections" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
For each host, the driver keeps a core amount of connections open at all time.
							]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="max-connections" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
More connections are created up to a configurable maximum number of connections.
							]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="socketOptionsType">
		<xsd:attribute name="connect-timeout-mls" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
Sets connection timeout for client socket in milliseconds.
							]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="keep-alive" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
Sets the SO_KEEPALIVE socket option.
							]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="reuse-address" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
Sets the SO_REUSEADDR socket option.
							]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="so-linger" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
Sets the SO_LINGER socket option.
							]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="tcp-no-delay" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
Sets the SO_TCPNODELAY socket option.
							]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="receive-buffer-size" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
Sets the SO_RCVBUF socket option.
							]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="send-buffer-size" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
Sets the SO_SNDBUF socket option.
							]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="keyspaceAttributesType">
		<xsd:attribute name="replication-strategy" type="xsd:string"
			use="optional" default="SimpleStrategy">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
Replication strategy of the Cassandra keyspace. Default value is 'SimpleStrategy'.
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="replication-factor" type="xsd:string"
			use="optional" default="1">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
Replication factor used by the Cassandra keyspace. Default value is '1'.
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="durable-writes" type="xsd:string"
			use="optional" default="true">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
Whether to support durable writes in the Cassandra keyspace. Default value is 'true'.
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="sessionType">
		<xsd:attribute name="id" type="xsd:ID" use="optional">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
The name of the Session definition; default is 'cassandra-session'.
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="cluster-ref" type="clusterRef"
			use="optional">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
The reference to a Cassandra Cluster; default is 'cassandra-cluster'.
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="keyspace-name" type="xsd:string"
			use="required">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
The name of a Cassandra Keyspace.  No default; for the system keyspace, use the empty string.
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="templateType">
		<xsd:attribute name="id" type="xsd:ID" use="optional">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
The name of the template; default is 'cassandra-template'.
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="session-ref" type="sessionRef"
			use="optional">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
The reference to a Cassandra Session; default is 'cassandra-session'.
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

</xsd:schema>